# =============================================================================
# APP DATABASE (your backend)
# =============================================================================
APP_DB_USER=admin
APP_DB_PASSWORD=secret
APP_DB_NAME=grades
APP_DB_HOST=localhost
APP_DB_PORT=5432


# =============================================================================
# BACKEND
# =============================================================================
ECHO_PORT=8080
ECHO_LOG_LEVEL=debug

# =============================================================================
# FRONTEND
# =============================================================================
API_BASE_URL=/api